# -----------------------

# AGORA (Video Call)

# -----------------------

APP_ID=<agora_app_id>
APP_CERTIFICATE=<agora_app_certificate>

# -----------------------

# DATABASE RDS (Postgres)

# -----------------------

DATABASE_URL=<postgres_connection_string>

# -----------------------

# JWT AUTH

# -----------------------

JWT_ACCESS_SECRET=<jwt_access_secret>
JWT_REFRESH_SECRET=<jwt_refresh_secret>
JWT_ACCESS_EXPIRY=<access_token_expiry>
JWT_REFRESH_EXPIRY=<refresh_token_expiry>

# -----------------------

# SECURITY

# -----------------------

BCRYPT_SALT_ROUNDS=<bcrypt_salt_rounds>

# -----------------------

# APP CONFIG

# -----------------------

PORT=<application_port>
FRONTEND_URL=<frontend_url>

# -----------------------

# Admin Credentials

# -----------------------

ADMIN_EMAIL=<admin_email>
ADMIN_PASSWORD=<admin_password>
